@page "/CMS/{entityName}/"
@inject IEntityRepository connection
@inject IMetadataRepository metadataClient
@inject NavigationManager NavigationManager

<div style="margin-bottom: 1rem;">
    <button class="btn btn-success mt-2" @onclick="@(e => NavigateTo($"/CMS/{entityName}/New"))"><i class="fas fa-plus"></i> New</button>
    <button class="btn btn-secondary mt-2" disabled><i class="far fa-trash-alt"></i> Delete</button>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            @foreach (string columnName in columns)
            {
                <th>@columnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Entity entity in entities){
            <tr class="table-record" @onclick=@(() => NavigateTo($"/CMS/{entityName}/{entity.Id}/Edit"))>
                @foreach(string fieldName in columns)
                {
                    <td>@(entity.Contains(fieldName) ? entity[fieldName] : string.Empty)</td>
                }
            </tr>
        }
    </tbody>
</table>
<p>Total Records: @entities.Count</p>

@code {
    [Parameter]
    public string entityName { get; set; }

    private List<Entity> entities;
    private string[] columns;

    protected override void OnInitialized()
    {
        SysListLayout layout = metadataClient.GetDefaultListLayout(entityName);
        if (layout == null || layout.Columns == null || layout.Columns.Length == 0)
        {
            throw new Exception($"The layout for {entityName} is either not found or empty.");
        }
        columns = layout.Columns.Split(",");
        entities = connection.Get(entityName: entityName, columns: columns).ToList();
    }

    private void NavigateTo(string url)
    {
        NavigationManager.NavigateTo(url);
    }
}