@page "/CMS/Entities"
@inject IMetadataRepository metadataClient

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Entity Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SysEntity entity in SystemEntities){
            <tr>
                <td><a href="/CMS/@entity.Name/">@entity.DisplayNamePlural</a></td>
            </tr>
        }
    </tbody>
    <p>Total Records: @SystemEntities.Count</p>
</table>

@code {
    private List<SysEntity> SystemEntities;

    protected override void OnInitialized()
    {
        SystemEntities = metadataClient.GetEntities();
    }
}