.contactListItem {
    cursor: pointer;
}

.contactListItem:hover {
    background-color: rgb(174, 184, 196);
}

.selected {
    background-color: #bbb;
    border: 2px dashed black;
}

.message {
    border: 2px solid #dedede;
    background-color: #a1e7ad;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 4rem;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 0;
    margin-right: 4rem;
}

.message::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

sub {
    color: #858585;
}

.message-text {
    word-break: break-word;
    font-size: smaller;
    margin: 0;
}

.scrollable-container {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.lookup {
    cursor: pointer;
}

.lookup-bullet {
    position: relative;
}

.lookup-bullet::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 17px;
    margin: 5px 10px;
    font-weight: bold;
    color: #626262;
    content: "▾";
}

.form-group-lookup {
    position: relative;
}

.search-menu {
    position: absolute;
    top: 3rem;
    background-color: #b1d1d2;
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px solid #888787;
    box-shadow: 5px 5px #d2d2d2;
}

.search-result {
    cursor: pointer;
}

.search-result:hover {
    background-color: #718586;
}