@page "/CMS/"
@inject NavigationManager NavigationManager

@* @DynamicComponent *@

<button class="btn btn-primary" @onclick="@(e => NavigateTo("/CMS/Settings/Entities"))">Settings</button>

@code {
    public ComponentBase DynamicComponent {get; set;}

    private void NavigateTo(string url) 
    {
        NavigationManager.NavigateTo(url);
    }
}