@page "/CMS/Entities"
@inject IMetadataRepository metadataClient
@inject NavigationManager NavigationManager

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Entity Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SysEntity entity in SystemEntities){
            <tr class="table-record" @onclick=@(() => NavigationManager.NavigateTo($"/CMS/{entity.Name}"))>
                <td>@entity.DisplayNamePlural</td>
            </tr>
        }
    </tbody>
</table>
<p>Total Records: @SystemEntities.Count</p>

@code {
    private List<SysEntity> SystemEntities;

    protected override void OnInitialized()
    {
        SystemEntities = metadataClient.GetEntities();
    }
}