@inherits LayoutComponentBase
@inject IMetadataRepository metadataClient

@{
    if (metadataClient.IsProductionEnvironment() == false)
    {
        <div id="non-production-header">Non-production mode</div>
    }
}

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="page-header auth">
                <div class="page-header-content">
                    <div class="page-header-item">
                        <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
                    </div>
                    <div class="page-header-item">
                        <form method="post" asp-area="Identity" asp-page="/Account/Logout" action="Identity/Account/LogOut">
                            <button type="submit" class="nav-link btn btn-link">Log out</button>
                        </form>
                    </div>
                    <div class="page-header-item">
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>
                </div>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @* This theoretically shouldn't be needed when we figure out how to mark all pages authorization-required. When it is done, the RedirectToLogin component at App.razor level will handle the redirection. *@
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>