.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-decoration: none;
    padding-inline: 10px;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.navigation-link-text {
    margin-left: 0.5rem;
}

@media (max-width: 767px) {
    .nav-item {
        padding-inline: 0;
    }
    .nav-item ::deep a {
        border-radius: 0;
        justify-content: center;
    }
    .nav-item span {
        display: none;
    }
}