@namespace Library.Client.Components.Fields

<div class="form-check">
    <label for="@(FieldDefinition.Name)_control" class="form-check-label">@FieldDefinition.DisplayName</label>
    <input id="@(FieldDefinition.Name)_control" type="checkbox" class="form-check-input" @bind="internalValue">
</div>

@code {
    [Parameter]
    public SysField FieldDefinition { get; set; }

    private bool? internalValue
    {
        get => Output as bool?;
        set
        {
            if (value != (Output as bool?))
            {
                OutputChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public object Output { get; set; }

    [Parameter]
    public EventCallback<object> OutputChanged { get; set; }
}