@namespace Library.Client.Components.Fields
@using MatBlazor

<div class="form-group">
    <label>@Label</label>
    <MatDatePicker @bind-Value="Output" EnableTime="true" Outlined="true" EnableSeconds="true" Class="datepicker"></MatDatePicker>
</div>

@code {
    // #region Input / Output
    [Parameter]
    public string Label { get; set; }

    private DateTime? _output;

    [Parameter]
    public DateTime? Output
    {
        get => _output;
        set
        {
            if (_output == value) return;
            _output = value;
            OutputChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<DateTime?> OutputChanged { get; set; }
    // #endregion
}