@namespace Library.Client.Components.Fields
@using MatBlazor

<div class="row g-1 align-items-center">
    <div class="col-auto">
        <label class="col-form-label-sm">@FieldDefinition.DisplayName</label>
    </div>
    <div class="col-auto">
        <MatDatePicker @bind-Value="internalValue" EnableTime="true" Outlined="true" EnableSeconds="true" Class="datepicker" Dense="true"></MatDatePicker>
    </div>
</div>

@code {
    [Parameter]
    public SysField FieldDefinition { get; set; }

    private DateTime? internalValue
    {
        get => Output as DateTime?;
        set
        {
            if (value != (Output as DateTime?))
            {
                OutputChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public object Output { get; set; }

    [Parameter]
    public EventCallback<object> OutputChanged { get; set; }
}