@namespace Library.Client.Components.Fields
@using MatBlazor

<div class="form-group">
    <label>@FieldDefinition.DisplayName</label>
    <MatDatePicker @bind-Value="internalValue" EnableTime="true" Outlined="true" EnableSeconds="true" Class="datepicker"></MatDatePicker>
</div>

@code {
    [Parameter]
    public SysField FieldDefinition { get; set; }

    private DateTime? _internalValue;
    public DateTime? internalValue
    {
        get => _internalValue;
        private set {
            if (_internalValue == value) return;
            _internalValue = value;
            Output = value;
        }
    }

    private object _output;
    [Parameter]
    public object Output
    {
        get => _output;
        set
        {
            if (_output == value) return;
            _output = value;
            internalValue = value as DateTime?;
            OutputChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<object> OutputChanged { get; set; }
}