@namespace Library.Client.Components.Fields

<div class="form-group">
    <label>@FieldDefinition.DisplayName</label>
    <input type="text" class="form-control" @bind-value="internalValue">
</div>

@code {
    [Parameter]
    public SysField FieldDefinition { get; set; }

    private string internalValue
    {
        get => Output?.ToString();
        set
        {
            if (value != Output?.ToString())
            {
                OutputChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public object Output { get; set; }

    [Parameter]
    public EventCallback<object> OutputChanged { get; set; }
}
