@namespace Library.Client.Components.Fields

<div class="row g-1 align-items-center">
    <div class="col-auto">
        <label for="@(FieldDefinition.Name)_control" class="col-form-label-sm">@FieldDefinition.DisplayName</label>
    </div>
    <div class="col-auto">
        <textarea id="@(FieldDefinition.Name)_control" type="text" class="form-control form-control-sm rounded-0" @bind="internalValue" cols="80"></textarea>
    </div>
</div>

@code {
    [Parameter]
    public SysField FieldDefinition { get; set; }

    private string internalValue
    {
        get => Output as string;
        set
        {
            if (value != (Output as string))
            {
                OutputChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public object Output { get; set; }

    [Parameter]
    public EventCallback<object> OutputChanged { get; set; }
}