@namespace Library.Client.Components.Fields

<div class="row g-1 align-items-center">
    <div class="col-auto">
        <label for="@(FieldDefinition.Name)_control" class="col-form-label-sm">@FieldDefinition.DisplayName</label>
    </div>
    <div class="col-auto">
        <input id="@(FieldDefinition.Name)_control" type="text" class="form-control form-control-sm" @bind="internalValue">
    </div>
</div>

@code {
    [Parameter]
    public SysField FieldDefinition { get; set; }

    private string internalValue
    {
        get => Output?.ToString();
        set
        {
            if (value != Output?.ToString())
            {
                OutputChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public object Output { get; set; }

    [Parameter]
    public EventCallback<object> OutputChanged { get; set; }
}
