.attachment-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.new-attachment-button {
    height: 35px;
    width: 35px;
    background: url("svg/paperclip-icon.svg") center no-repeat;
    background-size: 30px;
    cursor: pointer;
    border: 1px solid #7b7b7b47;
}

.new-attachment-button:hover {
    border: 1px solid #535353;
    background-color: #ffffff61;
}