.attachment-item {
    background: linear-gradient(90deg, #e3ffe7 0%, #c6dbff 100%);
    border: 1px solid #b7b7b7;
    max-width: 110px;
    box-sizing: content-box;
    cursor: pointer;
}

.attachment-item:hover {
    border: 1px solid #535353;
}

.attachment-item > a {
    display: block;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 14px;
    padding: 5px;
}

.attachment-image {
    max-width: 100px; 
    max-height: 100px;
}