.upload-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-block-end: 1px solid #e9ecef;
    font-size: 18px;
    user-select: none;
}

.upload-dialog-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.upload-file-dialog {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.upload-file-dialog-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 28px;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upload-dialog-header > label {
    margin-bottom: 0;
}